{{ if eq .chezmoi.osRelease.name "Red Hat Enterprise Linux" }}
./hosts/rhel.nix
{{ else if and (eq .chezmoi.osRelease.name "Fedora Linux") (eq .chezmoi.hostname "fedora") }}
./hosts/fedora-laptop.nix
{{ else }}
./hosts/default.nix
{{ end }}
