{{ if eq .chezmoi.osRelease.name "Red Hat Enterprise Linux" }}
import ./hosts/rhel.nix
{{ else if and (eq .chezmoi.osRelease.name "Fedora Linux") (eq .chezmoi.hostname "fedora") }}
import ./hosts/fedora-laptop.nix
{{ else }}
import ./hosts/default.nix
{{ end }}
