{
  username = "{{ .chezmoi.username }}";
  homeDirectory = "{{ .chezmoi.homeDir }}";
  {{ if eq .chezmoi.osRelease.name "Red Hat Enterprise Linux" }}
  extraInit = "source ~/git/dba-ansible-automation/dev-bin/shell-scripts.rc"
  {{ end }}
}
