{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
font_family      family="JetBrainsMono Nerd Font Mono"
font_size 15.0
map kitty_mode shift+ctrl
confirm_os_window_close 0

startup_session ~/.config/kitty/sessions/bigmile.session
{{- end }}
